.list-block
   .list-block-header
      div.list-block-header__text name
      form.list-block-header__form.list-block-header-form#list-block-header-form
         input.list-block-header-form__input(type='text')
      div.list-block-header__menu ...
   div.list-block-main-content
      .list-block-card
         .list-block-card-content 123
   .list-block-add-a-card
      .list-block-add-a-card__text Добавить карточку..
      .list-block-add-a-card__form
         textarea.list-block-add-a-card-form-input(type='text', placeholder='Введите название карточки..')
         button.list-block-add-a-card-form-btn.list-block-add-a-card-form-btn_save Сохранить
         button.list-block-add-a-card-form-btn.list-block-add-a-card-form-btn_cancel Отмена


.list-block#list-block-add
   .list-block-add-new
      .list-block-add-new__text#list-block-add-new Добавить новый список...
      .list-block-add-new__form
         form.list-block-add-new-form#list-block-add-new-form
            input.list-block-add-new-form__input-text(type='text', placeholder='Введите название списка..')
            input.list-block-add-new-form__input-btn.list-block-add-new-form__input-btn-save#list-block-add-new-btn-save(type='submit', value='Сохранить',data-val='save')
            span.list-block-add-new-form__input-btn.list-block-add-new-form__input-btn-cancel#list-block-add-new-btn-cancel Отмена


