<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Document
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic', rel='stylesheet')
    link(href='./styles/main.css', rel='stylesheet')
    link(href='../node_modules/react-grid-layout/css/styles.css', rel='stylesheet')
    link(href='../node_modules/react-resizable/css/styles.css', rel='stylesheet')
  body
    block content
    //script(src='https://code.jquery.com/jquery-3.1.0.min.js')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.min.js')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.min.js')
    script(src='js/app.js')